<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="er">
        <ul>
            <li v-for='item in list1'>{{item}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for='(item ,index) in list2'>{{item}}:{{index}}</li>
        </ul>
    </div>

    <script src='./node_modules/vue/dist/vue.js'></script>
    <script>
        const vh = new Vue({
            el: "#er",
            data: {
                list1: ['张磊1', '张磊2', '张磊3', '张磊4'],
                list2: ['张磊1', '张磊2', '张磊3', '张磊4'],
            }

        })
        // v-for用于遍历
        // 遍历数组 语法
        // 1.v-for:'item in 数组名'
        // 2. v -for: '(item,index) in 数组名'
    </script>
</body>

</html>